* {
    margin: 0 auto;
    padding: 0;
}

/*死亡标签栏引入*/
.siwangbiaoqian {
    /*padding: 17.5px;*/
    /*height: 50px;*/

    position: absolute;
    right:0px;
    top: 10px;
    margin-right: 0px;

}
input{
	color:white;
}
.bodayall {
    background-color: #2a3668;
    /*background-color: rgb(233, 128, 76);/*标签背景颜色*/
    width: 830px; /*宽度*/
    position: absolute;
    top: 300px;
    left: 110px;
    line-height: 25px;

}


/*标题  最近更新*/
.biaoti {
    position: relative;
    left: 111px;
    top: -100px;
    color: #F5F5F5;
}

.er {
    background-color: #335884;
    margin: 10px;
    padding: 22px;
    height: 40px;
    line-height: 25px;
    width: 400px;
    top: -800px;
}
.er:hover{
    background-color: rgb(198,212,213);
    color:rgb(56,73,89);
}
.veee{
	position:relative;
	top:282px;
}
.beee{
	position:relative;
	top:0px;
}
.tupian {
    position: relative;
    right: 20px;
    top: -20px;
}

.neirong {
    position: relative;
    left: 200px;
    top: -100px;
    font-size: 11px;
    color: #F5F5F5;
}

/*链接  上一页下一页*/
.lianjie {
    position: relative;
    left: 810px;
    top: -100px;
    color: #F5F5F5;
}



/*显示页数*/
.geshu {
    position: relative;
    left: 680px;
    top: -80px;
}

/*大图片*/

.kongbai {
    position: absolute;
    left: 455px;
    top: 8px;
}

.jiaqian {
    position: absolute;
    left: 416px;
    top: 30px;

}

.lianggekuang {
    position: absolute;
    top: 230px;
    left: 116px;
    width: 575px;
    height: 400px;
    background-color: #16202d;
}

/*登陆页面*/
.denglu {
    position: absolute;
    width: 180px;
    top: 15px;
    /*top: 230px;*/
    left: 20px;
    line-height: 40px;
    font-size: 14px;
    color: #c6d4df;
    /*font-size: 25px;*/
    /*color: #F5F5F5;*/
    /*background-color: rgb(130, 0, 77);*/
    /*padding-right: 20px;*/
    /*border-right: 1px solid rgba(0, 0, 0, 1);*/

}

.timu {

    top: -220px;
    height: 450px;
}

/*按钮*/
.anniu {
    position: absolute;
    top: 250px;
    height: 30px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    border: 0px;
    border-radius: 3px;
    color: #5ac1f0;
    background-color: #264055;
}

.anniu:hover {
    background-color: #4683a7;
    color: #eeded0;
}

#anniu2 {
    left: 300px;
}

/*文本框*/
.wenben {
    height: 35px;
    width: 250px;
    border: 0px;
    border-radius: 3px;
    padding-left: 5px;
    border-right: 1px solid #45556c;
    border-bottom: 1px solid #45556c;
    background-color: #121a24;

}

.wenzi {
    position: absolute;
    top: 15px;
    left: 300px;
    color: #c6d4df;
    line-height: 25px;
    border-left: 1px solid #264959;
    padding-left: 30px;
    height: 220px;
    font-size: 14px;
}

.gebi {

    width: 210px;
    height: 410px;
    top: 230px;
    position: absolute;
    left: 710px;
    color: #c6d4df;
    background-color: #16202d;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 14px;

}

.gebi li {
    position: relative;
    top: -20px;
    left: 20px;
    font-size: 14px;
    line-height: 32px;
}

.shangbiaoti {
    color: #ffffff;
    font-size: 20px;
}

.wangji {
    position: absolute;
    top: 650px;
    left: 115px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.liaojie:hover {
    color: #5ac1f0
}

.liaojie {
    position: absolute;
    top: 670px;
    right: 168px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.wangji:hover {
    color: #5ac1f0
}

.youxiatu {
    width: 180px;
    position: relative;
    margin-left: 10px;
    margin-top: -10px;
}



